html, body {
  height:100%;
  margin: 0;
  overflow: hidden;
}

svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#grid {
  position: fixed;
  z-index: 0;
  background-color: #141414;
}

#cover {
  position absolute;
  top: 0;
  left; 0;
}

#container {
  position: relative;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  /*overflow: scroll;*/
}

#picture {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  border-radius: 100%;
  left:0;
  right:0;
  top: 40px;
  margin-left:auto;
  margin-right:auto;
  opacity: 0.85;
  display: none;
}

.logo {
  position: absolute;
  height: 80px;
  width: 80px;
  display: none;
  opacity: 0.75;
  cursor: pointer;
}

#terminal {
  position: absolute;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  left:0px;
  right:0px;
  top: 360px;
  bottom: 0px;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 4px;
  border-top: 1px solid #80D0DE;
  border-left: 1px solid #80D0DE;
  border-right: 1px solid #80D0DE;
  outline: none;
  overflow: scroll;
  display: none;
}

.cursor {
  display: inline-block;
  width: 15px;
  height: 30px;
  background: #C6E7D6;
  vertical-align: bottom;
  margin-bottom: 5px;
}

.stdout {
  white-space: pre-wrap;
}

li {
  list-style-type: none;
  color: #C6E7D6;
  /*width: 100%;*/
}


.grid-major{
  fill: #C6E7D6;
  fill-opacity: 25%;
}

.grid-minor {
  fill: #C6E7D6;
  fill-opacity: 20%;
}

.img-circle {
  fill: #C6E7D6;
}

.logo-circle {
  fill: #80D0DE;
}
