body {
  margin: 0;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141414;
  z-index: 1;
}

.grid-major{
  fill: #C6E7D6;
  fill-opacity: 25%;
}

.grid-minor {
  fill: #C6E7D6;
  fill-opacity: 20%;
}

.img-circle {
  fill: #C6E7D6;
}

.logo-circle {
  fill: #C6E7D6;
}

#container {
  z-index: 0;
}

#terminal {
  color: white;
}

